{% load static %}
            <!-- Start Left panel -->
            <div class="rbt-left-panel popup-dashboardleft-section">
                <div class="rbt-default-sidebar">
                    <div class="inner">
                        <div class="content-item-content">
                            <div class="rbt-default-sidebar-wrapper">
                                <nav class="mainmenu-nav">
                                    <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                        <li>
                                            <img class="boxed-logo-dark" src="{% static 'assets/images/logo/Logo_PGEE.png' %}" alt="School logo">
                                            <img class="boxed-logo-light" src="{% static 'assets/images/logo/Logo_PGEE.png' %}" alt="School logo">
                                            ПГЕЕ-Банско</li>
                                        <li>Професионална гимназия по елекртоника и енергетика</li>
                                        <li>гр. Банско</li>
                                   </ul>
                                </nav>
                                <div v-if="sysParams.showMode==2">
                                    <div class="rbt-sm-separator"></div>
                                </div>
                                <div class="rbt-sm-separator"></div>
                            </div>
                        </div>
                    </div>
                    <div class="subscription-box">
                        <div class="inner">
                            <p>Състезание:</p>
                            <h5>[[sysParams.name]]</h5>
                            <p>Етап:&nbsp;
                                <span v-if="sysParams.status==0">Регистрация</span>
                                <span v-if="sysParams.status==1">Старт</span>
                                <span v-if="sysParams.status==2">Състезание</span>
                                <span v-if="sysParams.status==3">Класиране</span>
                            </p>
                        </div>
                    </div>
                    <p class="subscription-copyright copyright-text text-center b4  small-text">Банско 2025 © Виктор Василев</p>
                </div>
            </div>
            <!-- End Left panel -->
